<div main controller="app.components.Main">
  <style></style>
  <div component="gem-window-manager" class="absolute-fill-parent">
    <div tag="database-manager" component="gem-database-manager" class="absolute-fill-parent"></div>
  </div>
</div>
